{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2 class="p-1 mb-2">Login In:</h2>
    <form action="{{ url_for('login') }}" method="post" class="p-2">
        <div class="form-group">
            <input autocomplete="on" autofocus class="form-control" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn gradient-button gradient-button-3" type="submit">Log In</button>
        <div class="mt-2 mx-3">
            <small><a href="{{ url_for('register') }}">Don't have an account?</a></small>
        </div>
    </form>
{% endblock %}
