{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block css %}
    <link href="/static/css/pass.css" rel="stylesheet">
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <form class="form-horizontal" method="post" action=" {{ url_for('profile') }}">
            <h2 class="text-center mt-2"> <span id="name">{{ name }}</span>
            <input id="p-username" name="username" type="text" value="{{ name }}" autofocus class="form-control">
            <i class="fas fa-edit" id="edit"></i></h2>
            <p class="title text-center">Edit Profile</p>
            <hr>
              <feildset>
                <!-- Email field -->
                <div class="form-group mx-3">
                  <label class="col-md-6 control-label" for="email">Email:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required>
                  </div>
                </div>
                <!-- password field -->
                <div class="form-group mx-3">
                  <label class="col-md-6 control-label" for="o-password" required>Old Password:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="o-password" name="o-password" type="password" placeholder="Old Password" class="form-control input-md" required>
                  </div>
                </div>
                <!-- password field -->
                <div class="form-group mx-3">
                  <label class="col-md-6 control-label" for="password">New Password:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="password" name="password" type="password" placeholder="New Password" class="form-control input-md" required>
                  </div>
                  <span id="result" class="ml-3"></span>
                </div>
                <!-- Password confirmation field -->
                <div class="form-group mx-3">
                  <label class="col-md-6 control-label" for="confirmation">Repeat Password:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="confirmation" name="confirmation" type="password" placeholder="Confirm password" class="form-control input-md" required>
                  </div>
                </div>
                <div class="form-group">
                <label class="col-md-6 control-label" ></label>
                <div class="row justify-content-end">
                  <div class="col-md-7 mx-1">
                    <button class="btn btn-success" id="submit"> Submit</button>
                    <a href="#" class="btn btn-danger" id="clear">Clear</a>
                  </div>
                </div>
              </feildset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="next" data-toggle="tooltip" data-placement="bottom" title="Go to tips page">
      <a href="/tips"><i class="fas fa-angle-double-right fa-3x"></i></a>
    </div>
    <div id="prev" class="flip" data-toggle="tooltip" data-placement="bottom" title="Go to quiz page">
      <a href="/quiz"><i class="fas fa-angle-double-right fa-3x"></i></a>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    const username = $('#p-username');
    const name = $('#name');

    $("#edit").on('click', () => {
      username.toggle('slow');
      name.toggle('fast');
    });

  </script>
  <script>
    const inputs = $('input');

    document.querySelector('#clear').addEventListener('click', (e) => {
      e.preventDefault();
      for (let input of inputs)
        input.value = '';
    }, false);
  </script>
  <script src="../static/js/passwordschecker.js"></script>
{% endblock %}